<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079090364682-thr7fbtrsa3nsge5gadjkocrfi0it9lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079090364682-thr7fbtrsa3nsge5gadjkocrfi0it9lc</string>
	<key>API_KEY</key>
	<string>AIzaSyCrIG8vfuHu7WbaNfvnHxigbHuv3CkXdg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1079090364682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-f68fa</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-f68fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079090364682:ios:b384c351742ae4c6b3baf3</string>
</dict>
</plist>